<div class="container" style="margin-bottom: 150px">
    
    <h2> Your cart</h2>
       
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Image</th>
            <th>product</th>            
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>
                <img  src="assets/images/{{item.img}}" style="width:50px">
            </td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
           
            <td>
                <button type="button" class="btn btn-danger" (click)="Giam(item.id)">-</button>
                <span style="padding: 5px;">{{item.soluong}}</span>
              <button type="button" class="btn btn-success" (click)="Tang(item.id)">+</button>
            </td>
         
            <td>
                <button type="button" [routerLink]="['/detail',item.id]" class="btn btn-danger" style="margin-right: 5px">View</button>         
                <button type="button" class="btn btn-success"(click)="deleteItemCart(item.id)" >Delete</button>
            </td>
          </tr>  
          <tr >
              <td colspan="4" style="font-weight: 600;"> Total :</td>
              <td style="font-weight: 700;"> {{total()|number}} $</td>
          </tr>      
        </tbody>
      </table>  
      <button type="button" [routerLink]="['']"  class="btn btn-primary" style="float: right">
          tiếp tục mua sắm</button>
    </div>

