<div class="container" style="margin-top: 150px">
    <h1> <i class="fa fa-shopping-cart"></i> Produtos <small> - click on product for details</small> </h1>
            
    <hr>
    <span style="margin-right: 100px"> Filter by:</span><span><input type="text" ></span>
    <h2> Filted by:</h2>
       
    <table class="table table-hover">
        <thead>
          <tr>
            <th><button type="button" class="btn btn-primary">Hien image</button></th>
            <th>product</th>
            <th>code</th>
            <th>availible</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of ListProduct">
            <td>
                <img src="assets/image/{{p.imageUrl}}" style="width:50px">
            </td>
            <td>{{p.productName}}</td>
            <td>{{p.productCode}}</td>
            <td>{{p.releaseDate}}</td>
            <td>{{p.price}}</td>
            <td>
                <span class="fa fa-star" id="star1"></span>
                <span class="fa fa-star" id="star2" ></span>
                <span class="fa fa-star" id="star3" ></span>
                <span class="fa fa-star" id="star4"></span>
                <span class="fa fa-star" id="star5" ></span>
            </td>
          </tr>        
        </tbody>
      </table>  
    </div>