<div class="container" style="margin-top: 150px">
    <h1> <i class="fa fa-shopping-cart"></i> Produtos <small> - click on product for details</small> </h1>
            
    <hr>
    <span style="margin-right: 100px"> Filter by:</span><span><input type="text" ></span>
    <h2> Filted by:</h2>
       
    <table class="table table-hover">
        <thead>
          <tr>
            <th><button type="button" class="btn btn-primary hienimg"  (click)="showImg()">{{text}}</button></th>
            <th>product</th>
            <th>code</th>
            <th>availible</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of ListProduct">
            <td>
                <img *ngIf="isShow" src="assets/image/{{p.imageUrl}}" style="width:50px">
            </td>
            <td>{{p.productName}}</td>
            <td>{{p.productCode}}</td>
            <td>{{p.releaseDate}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="Giam(p.productId)">-</button>
                <span>{{p.quantity}}</span>
              <button type="button" class="btn btn-success" (click)="Tang(p.productId)">+</button>
            </td>
            <td>{{p.price}}</td>
            <td>
              <span>{{p.starRating}}</span>
                <span class="fa fa-star" id="star1"></span>
            </td>
          </tr>  
          <tr >
              <td colspan="6"> Total :</td>
              <td> {{total()|number}} $</td>
          </tr>      
        </tbody>
      </table>  
    </div>