
    <div class="container" style="margin-top:150px">
        <h3>Admin</h3>
    <header>
    
    <div class="row" style="height:20px">
        <div class="col-lg-6">
            <div class="icon-header-left">
                    <i class="fa fa-amazon"></i>
                    <i class="fa fa-amazon"></i>
                    <i class="fa fa-500px"></i>
            </div>
               
        </div>
        <div class="col-lg-6">
            <div class="icon-header-right">
                    <i class="fa fa-amazon"></i>
                    <i class="fa fa-angellist"></i>
                    <i class="fa fa-500px"></i>
                    <i class="fa fa-apple"></i>
                    <i class="	fa fa-cc-visa"></i>
            </div>
            </div>
    </div>
  </header>

  <section>
    <nav style="height: max-content;">
        <i class="fa fa-align-justify" style="color:white;float:right"></i>
            <div class="row">
                <div class="jenick">
                    <img src="assets/image/giay.jpg" style="width: 60px;border-radius: 50%" class="img_admin">
                    <p style="color: white">Jenick JK</p>
                </div>
            </div>
        <div class="row">
                <div class="col-lg-12">
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-action"><i class="fa fa-amazon"></i>Cras justo odio</li>
                                <li class="list-group-item list-group-item-action"><i class="fa fa-angellist"></i>Dapibus ac facilisis in</li>
                                <li class="list-group-item list-group-item-action"> <i class="fa fa-500px"></i>Morbi leo risus</li>
                                <li class="list-group-item list-group-item-action"><i class="fa fa-apple"></i>Porta ac consectetur ac</li>
                                <li class="list-group-item list-group-item-action"><i class="	fa fa-cc-visa"></i>Vestibulum at eros</li>
                                <li class="list-group-item list-group-item-action"> <i class="fa fa-500px"></i>Morbi leo risus</li>
                                <li class="list-group-item list-group-item-action"><i class="fa fa-apple"></i>Porta ac consectetur ac</li>
                                <li class="list-group-item list-group-item-action"><i class="	fa fa-cc-visa"></i>Vestibulum at eros</li>
                              </ul>
                </div>
        </div>
            
    </nav>
    
    <article>
        <div class="content-right ">
                <div class="row" style="margin-bottom: 25px;">
                        <div class="col-lg-12">
                            <span><b>Home</b> / user</span>
                            </div>
                </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-lg-4">
                    <span>Show</span>
                    <select>
                        <option value="volvo">10</option>
                        <option value="saab">25</option>
                        <option value="opel">50</option>
                        <option value="audi">100</option>
                    </select>
    
                    <span>product</span>
                </div>
                <div class="col-lg-8">
                    <button type="button" class="btn btn-primary" style="margin-left: 70px;">Email</button>
                    <button type="button" class="btn btn-primary" style="margin-right: 15px;margin-left: 5px;" (click)="onclick()">Post</button>
                    <div class="search_design">
                        <input type="text" placeholder="search" #myinput style="width:95%;margin-right: 10px;border:none;background-color: #d9dde6;">
                    </div>
                   
                    <button type="button" class="btn btn-primary" (click)="logUser(myinput.value)">Add User</button>
                </div>
            </div>

            <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                            1
                        </td>
                        <td>Jenick</td>
                        <td>Dell</td>
                        <td>Jenick2000@gmail.com</td>
                        <td>
                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                            <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                        </td>
                        
                      </tr>
                      <tr>
                        <td>
                            2
                        </td>
                        <td>Jenick</td>
                        <td>Dell</td>
                        <td>Jenick2000@gmail.com</td>
                        <td>
                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                            <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                            <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                        </td>
                        
                        <tr>
                            <td>
                                3
                            </td>
                            <td>Jenick</td>
                            <td>Dell</td>
                            <td>Jenick2000@gmail.com</td>
                            <td>
                                <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                            </td>
                            
                          </tr>
                          <tr>
                            <td>
                                4
                            </td>
                            <td>Jenick</td>
                            <td>Dell</td>
                            <td>Jenick2000@gmail.com</td>
                            <td>
                                <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                            </td>
                            
                          </tr>
                          <tr>
                            <td>
                                5
                            </td>
                            <td>Jenick</td>
                            <td>Dell</td>
                            <td>Jenick2000@gmail.com</td>
                            <td>
                                <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                            </td>
                            
                          </tr>
                    </tbody>
                  </table>
                  <div class="panel-footer" style="margin-top: 50px">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>
                               Showing 1 to 5 of 100 employeer</h6>
                        </div>
                        <div class="col-md-6">
                            <ul class="pagination pagination-largev">
                                <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                             
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="#" (click)="onclick()">3</a></li>
                                    <li><a href="#" onclick="alert('chao')">4</a></li>
                                    <li><a href="#" >5</a></li>
                                  
                                <li><a href="javascript:void(0)">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </article>
  </section>
  

    </div>
  
