<div class="container">
    <div class="card">
        <div class="card-header">
            Danh sach san pham
        </div>
        <table class="table table-bordered">

            <thead>
               <tr>
                <th scope="col" (click)="setOrder('name')">Name
                    <span *ngIf="sh_name">
        <span *ngIf="reverse; else elseBlock"><i class='fas fa-sort-amount-down'style="float:right;" ></i></span>
                    <ng-template #elseBlock>
                        <div style="display: contents"> <i class='fas fa-sort-amount-up' style="float:right;"></i></div>
                    </ng-template>
                    </span>
                </th>
                <th scope="col" (click)="setOrder('price')">Price
                    <span *ngIf="sh_price">
        <span *ngIf="reverse; else elseBlock"><i class='fas fa-sort-amount-down'style="float:right;" ></i></span>
                    <ng-template #elseBlock>
                        <div style="display: contents"> <i class='fas fa-sort-amount-up' style="float:right;"></i></div>
                    </ng-template>
                    </span>
                </th>
                    <th scope="col" (click)="setOrder('discount')">Giam Gia
                        <span *ngIf="sh_discount">
            <span *ngIf="reverse; else elseBlock"><i class='fas fa-sort-amount-down'style="float:right;" ></i></span>
                        <ng-template #elseBlock>
                            <div style="display: contents"> <i class='fas fa-sort-amount-up' style="float:right;"></i></div>
                        </ng-template>
                        </span>
                    </th>
                    <th scope="col" (click)="setOrder('date')">Ngay
                        <span *ngIf="sh_date">
            <span *ngIf="reverse; else elseBlock"><i class='fas fa-sort-amount-down'style="float:right;" ></i></span>
                        <ng-template #elseBlock>
                            <div style="display: contents"> <i class='fas fa-sort-amount-up' style="float:right;"></i></div>
                        </ng-template>
                        </span>
                    </th>
                </tr>
            
            </thead>
            <tbody>
                <tr *ngFor="let p of list| paginate: { itemsPerPage: itemspage, currentPage:page} | orderBy: order:reverse">
                    <td>{{p.name | uppercase }}</td>
                    <td>{{p.price | currency}}</td>
                    <td>{{p.discount}}%</td>
                    <td>{{p.date | date:'mediumDate'}}</td>
                </tr>

            </tbody>
        </table>
        <div class="phantrang">
            <i class='	far fa-hand-point-up' (click)="top()"></i>
            <i class='far fa-hand-point-left' (click)="perPage()"></i>
            <i class='far fa-hand-point-right' (click)="nexPage()"></i>
            <i class='far fa-hand-point-down' (click)="end()"></i>
        </div>
    </div>
</div>