<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"  [routerLink]="['/']">Jenick'JK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/cart']">Cart</a>
            </li>
           
           
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <!--noi dung -->
      <div class="container-fluid" style="margin-top: 100px">    
          <div class="row">
              <div class="col-lg-8">
                    <div class="row">
                            <div class="col-sm-6 col-lg-4" *ngFor="let p of loaisanpham_2"> 
                                <div class="single-publication">
                                    <figure>
                                        <a [routerLink]="['/detail',p.id]">
                                            <img src="assets/images/{{p.img}}" alt="Publication Image"style="width:100%">
                                        </a>
        
                                        <ul>
                                            <li><a href="#" title="Add to Favorite"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#" title="Add to Compare"><i class="fa fa-refresh"></i></a></li>
                                            <li><a [routerLink]="['/detail',p.id]" title="Quick View"><i class="fa fa-search"></i></a></li>
                                        </ul>
                                    </figure>
        
                                    <div class="publication-content">
                                        <span class="category">{{p.name}}</span>
                                        <h3><a href="#">Think Python</a></h3>
                                        <ul>
                                            <li><i class="icofont-star"></i></li>
                                            <li><i class="icofont-star"></i></li>
                                            <li><i class="icofont-star"></i></li>
                                            <li><i class="icofont-star"></i></li>
                                            <li><i class="icofont-star"></i></li>
                                        </ul>
                                        <h4 class="price">${{p.price}} <span>$299</span></h4>
                                    </div>
        
                                    <div class="add-to-cart">
                                        <a (click)="addtocart(p.id)" class="default-btn addtocart">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
              </div>
              <!--content left-->
              <div class="col-lg-4">
                    <div class="media">
                            <img src="assets/images/cart.jpg" style="width: 15%;"class="align-self-start mr-3" alt="...">
                            <div class="media-body">
                              <h6 class="mt-0" id="elementId"><span style="color:orange">{{soluongCart}}</span> Items</h6>
                                <span style="color:orange">$ {{totalCart}}</span><br>
                                <a [routerLink]="['/cart']" class="viewcart" >View Cart</a>
                            </div>
                          </div>
                          <div class="searchKeyword">
                              <input type="text" placeholder="KeyWord" style="width: 99%">
                          </div>
                          <ul class="list-group">
                                <li class="list-group-item active"  (click)="toggleTitle()"><h6>Chủng loại</h6></li>
                            <li class="list-group-item  chungloai"  *ngFor="let l of ChungLoai"  ><span (click)="chungloai(l.id)">{{l.name}}</span></li>
                           
                          </ul>
                </div>
          </div> 
            
      </div>
</body>
</html>
