<div class="container">

    <hr> Leaf Rake
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">

                <article class="card-body p-5">
                    <h3 class="title mb-3">{{product.productName}}</h3>

                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning"> 
		<span class="currency">US $</span><span class="num">{{product.price}}</span>
                        </span>
                        <span>/per kg</span>
                    </p>
                    <!-- price-detail-wrap .// -->
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd>
                            <p>Here goes description consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                        </dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Model#</dt>
                        <dd>{{product.productCode}}</dd>
                    </dl>
                    <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <dt>Color</dt>
                        <dd>Black and white</dd>
                    </dl>
                    <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <dt>Starrating</dt>
                        <dd>
                            <div [ngStyle]="{'width.px':starRating(product.starRating)}" style="overflow: hidden;">                 
                                <div style="width: 75px">                                        
                                      <span class="fa fa-star" ></span>
                                      <span class="fa fa-star" ></span>
                                      <span class="fa fa-star" ></span>
                                      <span class="fa fa-star" ></span>
                                      <span class="fa fa-star" ></span>
                                  </div>                                            
                              </div>
                        </dd>
                    </dl>
                    <!-- item-property-hor .// -->

                    <hr>
                    <i class="fa fa-arrow-left" style="font-size: 20px;margin-right: 5px"></i>
                    <span (click)="back()" style="cursor: pointer">Back</span>
                    <button type="button" [routerLink]="['/cart']"  (click)="addtocart()" class="btn btn-primary" style="float: right">Add to cart</button>
                </article>
            </aside>
            <aside class="col-sm-7">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div>
                            <a href="#"><img src="assets/image/{{product.imageUrl}}" style="width:80%"></a>
                        </div>
                    </div>
                    <!-- slider-product.// -->

                </article>
                <!-- card-body.// -->
            </aside>
            <!-- col.// -->
        </div>
        <!-- row.// -->
    </div>
    <!-- card.// -->

</div>
<!--container.//-->